<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewBag.cssLink" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/HalloDoc.styles.css" asp-append-version="true" /> *@
</head>
<body>
     <button id="btn_modal" type="button" class="d-none btn btn-primary">
     Launch demo modal
 </button>
 <!-- <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Launch demo modal
   </button>
    -->
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class=" modal-dialog modal-dialog-centered">
         <div class="modal-content ">
             <!-- <div class="">
             <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
             <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->

             <div class="modal-body d-flex justify-content-center align-items-center mt-4">
                 <img style="width: 100px; height: 100px;" src="\images\info_img1.jpeg" alt="">
             </div>
             <h3 class="text-center mb-2">Information</h3>
             <p class="text-center mx-5">
                 when submitting a request you must provide the correct contact information
                 for the patient or the responsibly party.failure to provide correct email and phone number will
                 delay service or be declined.
             </p>

             <div class="d-flex justify-content-center align-items-center mb-5 mt-3">
                 <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                 <!-- <button type="button" class="btn btn-primary">OK</button> -->
             </div>
         </div>
     </div>
 </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <img class="logo-img-1" src="\images\Fig56._Patient_site_1.png" alt="">


        <div class="darkmode-div">
            <button id="darkmode-btn" onclick="myFunction()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon text-info" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
            </button>
        </div>
    </div>

    </nav>

    @RenderBody()

    <div id="footer" >
    <div class="h-25">

    </div>
    <div class="">
        <a href="" class="text-decoration-none " id="terms1"> Terms of Conditions </a>
        <span class="vr mx-3" id="vr1"></span>
        <a href="" class="text-decoration-none" id="terms2">Privacy Policy</a>

    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/@ViewBag.jsLink"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
